<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="a">
        <p>Grab Your Books Upto 50% off !!</p>
    </div>
    <div class="b">
        <div class="b1">
            <img src="https://d2g9wbak88g7ch.cloudfront.net/staticimages/logo-new.png" alt="" width="80%" height="90%">
        </div>  
        <div class="b2">
            <input type="text">
        </div>
        <div class="b3">
            <ul>
                <a href="/EnterYourBooks">
                    <li>Enter Your Books</li>

                </a>
                <li>
                    Popular Books
                </li>
                <li>Login</li>
            </ul>
        </div>
    </div>
</body>
</html>